<div class="d-flex flex-direction-column">

  <!-- header -->
  <header class="d-flex justify-content-between">
    <div class="col-4 col-md-3 col-lg-2">
      <span class="icon-nav">X</span>
      logo
    </div>
    <div class="col-6 col-md-5 col-lg-4">items</div>
  </header>

  <!-- nav -->
  <nav>
    <ul class="d-flex">
      <li>
        <!-- lien html -->
        <a href="http://www.m2iformation.fr">m2i</a>
      </li>
      <li>item2</li>
      <li>item beaucoup</li>
      <li>item plus</li>
      <li>item 5</li>
    </ul>
  </nav>

  <section class="col-12">
    <h1 class="yellow" id="pink">Broadcast</h1>
  </section>

  <div class="col-12 position-relative slider" style="overflow: hidden;">
    <ul class="position-absolute" style="background: yellow;">
      <li>img1</li>
      <li>img2</li>
      <li>img3</li>
      <li>img4</li>
      <li>img5</li>
      <li>img6</li>
      <li>img7</li>
      <li>img8</li>
      <li>img8</li>
      <li>img10</li>
    </ul>
  </div>

  <div class="col-12">
    <h1 class="yellow">Last episodes</h1>
  </div>

  <div class="d-flex flex-direction-row flex-wrap">
    <div class="col-12 col-lg-4 card">
      <img src="../../assets/img/2.jpg" alt="img1">
      <h1>The talk show #29</h1>
      <p>date</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi id, accusamus quos, pariatur nesciunt
        excepturi ut, debitis amet maxime delectus quod magnam tempore necessitatibus aspernatur officia maiores numquam
        praesentium itaque.</p>
    </div>
    <div class="col-12 col-lg-4 card">
      <img src="../../assets/img/5.jpg" alt="img1">
      <h1>The talk show #29</h1>
      <p>date</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi id, accusamus quos, pariatur nesciunt
        excepturi ut, debitis amet maxime delectus quod magnam tempore necessitatibus aspernatur officia maiores numquam
        praesentium itaque.</p>
    </div>
    <div class="col-12 col-lg-4 card">
      <img src="../../assets/img/3.jpg" alt="img1">
      <h1>The talk show #29</h1>
      <p>date</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi id, accusamus quos, pariatur nesciunt
        excepturi ut, debitis amet maxime delectus quod magnam tempore necessitatibus aspernatur officia maiores numquam
        praesentium itaque.</p>
    </div>

  </div>
</div>
